:root{
    --primary-color: #FE7F2D;
    --border-color: #ddd;
    --background-light: #f9f9f9;
    --border-bottom: #233D4D 1px solid;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    background-color: #586063; /* Color de respaldo si la imagen no carga */
    /* background: url(https://cdn.getcrowder.com/images/f7957c7d-15d8-4d69-881a-f433c29be69b-d1.png) no-repeat center center fixed; */
    background-size: cover;
}

.container{
    margin: auto;
    width: 800px;
    align-content: center; /*no está funcionando esto*/
    margin: auto;
}

.resumen{
    display: flex;
    flex-direction: row;
}

.totales{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin: 30px 10px 10px 30px;
}

fieldset{
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(7px);
    border: #c9c9c921 1px solid;
    border-radius: 10px;
    box-shadow: 
    0 1px 1px rgba(255, 255, 255, 0.12), 
    0 2px 2px rgba(202, 195, 195, 0.12), 
    0 4px 4px rgba(231, 3, 3, 0.12), 
    0 8px 8px rgba(237, 97, 4, 0.12),
    inset 0 0 10px #00000021; /* Sombra interna */
    width: 100%;
    margin: 30% 0;
    padding: 10px;
    
}

.dia-semana {
    font-weight: bold;
    color: #fff;
    display: block; /* Para que ocupe todo el espacio de la celda */
    text-align: center;
}


#totalHoras{
    font-weight: bold;
    font-size: 1.5rem;  
}

#sum{
    width: 100%;
}

.sumaParcial{
    font-weight: bold;
    color: #fff;
    margin-left:20px;
    border-bottom:var(--border-bottom);
}

legend{
    color: #FE7F2D;
    font-size: 1.5em;
}

th{
    color: white;
    padding: 10px;
    text-align: left;
    text-align: center;
}

input{
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
    border: none;
    border-bottom: var(--border-bottom)
}

/* 1. Contenedor principal */
.input-con-simbolo {
  position: relative; /* Clave para posicionar el símbolo '$' adentro */
  display: inline-block; /* O ajusta a tu layout */
}

/* 2. El pseudo-elemento que crea el símbolo '$' */
.input-con-simbolo::before {
  content: '$'; /* El símbolo que quieres mostrar */
  position: absolute; /* Lo sacamos del flujo normal */
  left: 10px; /* Distancia desde la izquierda */
  top: 69%; /* Lo centramos verticalmente */
  transform: translateY(-50%);
  color: #FE7F2D; /* Color del símbolo */
  pointer-events: none; /* Permite hacer clic a través del símbolo */
  font-size: 16px ;
}

/* 3. Ajustamos el input para que el texto no se superponga con el '$' */
.input-con-simbolo .inputPpales {
  padding-left: 25px; /* Dejamos espacio a la izquierda para el símbolo */
}

.inputPpales{
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    font-size: 20px;;
}

.galeno_viaticos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

p{
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.layers{
    margin-bottom: 0;
    text-align: center;
    color: #fff;
}
/* =======================
      BOTONES
========================== */
.addButton{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 20px;
    width: 100px;
}

.delete-btn{
    background-color: #9A0002;
    color: #fff;
    border: none;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 50%;
}